.footer {
  position: static; /* <-- Ya no flotante */
  bottom: auto;
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: black !important;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 40px; /* espacio arriba */
}


.footer-text {
    font-size: 14px;
    color: #faf3f3;
}

.footer-icons a {
    color: #fffcfc;
    margin-left: 15px;
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
} 
/* .footer-dark {
    background-color: #000000 !important;
  }
  
  .footer-text-light {
    color: #ffffff;
  }
  
  .footer-icon-light a mat-icon {
    color: #ffffff;
  } */
  