.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: #fbd5e5 !important;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  height: 60px;
  margin-left: 16px;
}

.sidenav-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

mat-toolbar {
  overflow: hidden;
  flex-wrap: wrap;
}

.custom-toolbar {
  background-color: #fbd5e5 !important;
}






