.buscador-input {
    width: 100%;
    max-width: 400px;
    /* o el ancho que quieras */
    background-color: #eaafa4;
    /* Fondo rosa suave */
    color: #252424;
    /* Texto oscuro */
    border: none;
    border-radius: 30px;
    padding: 12px 20px;
    font-size: 1.2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 10px;
}

.general {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador-input::placeholder {
    color: #6e6e6e;
    opacity: 0.8;
}

.buscador-input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(234, 175, 164, 0.5);
    background-color: #f5c6bd;
    /* un rosita un poquito más claro al enfocar */
}